.tab-buttons {
    display: flex;
    margin-bottom: 10px;
  }
  
  .tab-buttons button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: lightgray;
    margin-right: 5px;
  }
  
  .tab-buttons .active {
    background-color: gray;
    color: white;
  }
  
  .tab-content {
    border: 1px solid lightgray;
    padding: 10px;
  }
  