.game-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .game-picker button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    transition: background-color 0.3s;
  }
  
  .game-picker button:hover {
    background-color: deepskyblue;
    color: white;
  }
  
  .game-picker p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
